USE [master]
GO
/****** Object:  Database [LSM]    Script Date: 05-12-2022 16:57:52 ******/
CREATE DATABASE [LSM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LSM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\LSM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LSM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\LSM_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LSM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LSM]
GO
/****** Object:  Table [dbo].[Tbl_Admin]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Admin](
	[Uid] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[CreatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_Admin] PRIMARY KEY CLUSTERED 
(
	[Uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Attandance]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Attandance](
	[attandenceId] [int] IDENTITY(1,1) NOT NULL,
	[grNo] [nvarchar](50) NULL,
	[fName] [nvarchar](50) NULL,
	[mName] [nvarchar](50) NULL,
	[lName] [nvarchar](50) NULL,
	[divName] [nvarchar](50) NULL,
	[className] [nvarchar](50) NULL,
	[semName] [nvarchar](50) NULL,
	[departName] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[date] [nvarchar](50) NULL,
	[staffName] [nvarchar](50) NULL,
	[editDate] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Attandance] PRIMARY KEY CLUSTERED 
(
	[attandenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Class]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Class](
	[classID] [int] IDENTITY(1,1) NOT NULL,
	[className] [nvarchar](50) NULL,
	[departName] [nvarchar](50) NULL,
	[editDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Class] PRIMARY KEY CLUSTERED 
(
	[classID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Complaints]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Complaints](
	[complainId] [int] IDENTITY(1,1) NOT NULL,
	[grNo] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[subject] [nvarchar](50) NULL,
	[message] [nvarchar](500) NULL,
	[reply] [nvarchar](500) NULL,
	[editDate] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Complaints] PRIMARY KEY CLUSTERED 
(
	[complainId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Depart]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Depart](
	[departId] [int] IDENTITY(1,1) NOT NULL,
	[departName] [nvarchar](50) NULL,
	[editDate] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Depart] PRIMARY KEY CLUSTERED 
(
	[departId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Div]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Div](
	[divId] [int] IDENTITY(1,1) NOT NULL,
	[seats] [int] NULL,
	[divName] [char](1) NULL,
	[semName] [nvarchar](50) NULL,
	[className] [nvarchar](50) NULL,
	[departName] [nvarchar](50) NULL,
	[editDate] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Div] PRIMARY KEY CLUSTERED 
(
	[divId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Feedback]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Feedback](
	[feedBackId] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](50) NULL,
	[mobile] [nvarchar](50) NULL,
	[feedBackMsg] [nvarchar](500) NULL,
	[createdDate] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Feedback] PRIMARY KEY CLUSTERED 
(
	[feedBackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Leave]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Leave](
	[leaveId] [int] IDENTITY(1,1) NOT NULL,
	[grNo] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[div] [char](1) NULL,
	[classSemName] [nvarchar](50) NULL,
	[message] [nvarchar](500) NULL,
	[noDays] [int] NULL,
	[reply] [nvarchar](500) NULL,
	[editDate] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Leave] PRIMARY KEY CLUSTERED 
(
	[leaveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Sem]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Sem](
	[semId] [int] IDENTITY(1,1) NOT NULL,
	[semName] [nvarchar](50) NULL,
	[className] [nvarchar](50) NULL,
	[departName] [nvarchar](50) NULL,
	[editDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Sem] PRIMARY KEY CLUSTERED 
(
	[semId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Staff]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Staff](
	[staffId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](50) NULL,
	[middleName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[mobile] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[departId] [int] NULL,
	[departName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_Faculty] PRIMARY KEY CLUSTERED 
(
	[staffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Student]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Student](
	[studentId] [int] IDENTITY(1,1) NOT NULL,
	[grNo] [nvarchar](50) NULL,
	[rollNo] [nvarchar](50) NULL,
	[image] [nvarchar](50) NULL,
	[firstName] [nvarchar](50) NULL,
	[middleName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[divName] [nvarchar](50) NULL,
	[className] [nvarchar](50) NULL,
	[semName] [nvarchar](50) NULL,
	[departName] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[mobile] [nvarchar](50) NULL,
	[dateOfBirth] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[createdDate] [datetime] NULL,
 CONSTRAINT [PK_Studentmst] PRIMARY KEY CLUSTERED 
(
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[usp_Admin_INSERT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Admin_INSERT]	
	@userName AS NVARCHAR(256),
	@password  AS NVARCHAR(256)
AS
BEGIN
	
	INSERT INTO [dbo].[Tbl_Admin]
           ([Username], [Password], [CreatedDate])
     VALUES
           (@userName, @password, GETDATE())
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_DELETE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Student_DELETE]
	@studentId as int,
	@grno AS NVARCHAR(256)
AS
BEGIN
	
DELETE FROM Tbl_Student WHERE grNo=@grno and studentId = @studentId
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_INSERT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Student_INSERT]
	
	@grNo AS NVARCHAR(256),
	@rollNo  AS NVARCHAR(256),
	@fname  AS NVARCHAR(256),
	@mname  AS NVARCHAR(256),
	@lname  AS NVARCHAR(256),
	@depart  AS NVARCHAR(256),
	@semname  AS NVARCHAR(256),
	@classname  AS NVARCHAR(256),
	@divName  AS NVARCHAR(256),
	@email  AS NVARCHAR(256),
	@mobile AS NVARCHAR(256),
	@dob AS NVARCHAR(500),
	@uname AS NVARCHAR(256),
	@pass AS NVARCHAR(256)
AS
BEGIN
	
	INSERT INTO [dbo].[Tbl_Student]
           ([grNo], [rollNo], [firstName], [middleName] ,[lastName] , [depart], [semName], [className] ,[divName] ,[email] ,[mobile], [dateOfBirth]  ,[username] ,[password] ,[createdDate])
     VALUES
           (@grNo, @rollNo, @fname, @mname, @lname, @depart, @semname, @classname, @divName, @email, @mobile, @dob, @uname, @pass, GETDATE())
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_SELECT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_Student_SELECT]
	
AS
BEGIN
	
	SELECT * FROM Tbl_Student
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_UPDATE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Student_UPDATE]
	
	@studentId AS int,
	@grNo AS NVARCHAR(256),
	@rollNo  AS NVARCHAR(256),
	@image AS NVARCHAR(256),
	@fname  AS NVARCHAR(256),
	@mname  AS NVARCHAR(256),
	@lname  AS NVARCHAR(256),
	@divName  AS NVARCHAR(256),
	@classname  AS NVARCHAR(256),
	@semname  AS NVARCHAR(256),
	@departname  AS NVARCHAR(256),
	@email  AS NVARCHAR(256),
	@mobile AS NVARCHAR(256),
	@dob AS NVARCHAR(500),
	@uname AS NVARCHAR(256),
	@pass AS NVARCHAR(256)
AS
BEGIN
	
UPDATE Tbl_Student SET grNo=@grNo,rollNo=@rollNo, image=@image,firstName=@fname, middleName=@mname, lastName=@lname, departName=@departname, semName=@semname, className=@classname, divName=@divName, email=@email, mobile=@mobile, dateOfBirth=@dob, username=@uname, password=@pass,createdDate=GETDATE() WHERE studentId=@studentId
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Attandance_DELETE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_Tbl_Attandance_DELETE]
	
	@attandenceId AS INT
AS
BEGIN
	
DELETE FROM Tbl_Attandance WHERE attandenceId=@attandenceId
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Attandance_INSERT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Attandance_INSERT]

	@grNo AS NVARCHAR(256),
	@fname AS NVARCHAR(256),
	@mname AS NVARCHAR(256),
	@lname AS NVARCHAR(256),
	@divName AS NVARCHAR(256),
	@className AS NVARCHAR(256),
	@semName AS NVARCHAR(256),
	@departName AS NVARCHAR(256),
	@status as nvarchar(256),
	@date AS nvarchar(500),
	@staffname as nvarchar(256)
	
AS
BEGIN
	
	INSERT INTO Tbl_Attandance VALUES(@grNo,@fname,@mname,@lname,@divName,@className,@semName,@departName,@status,@date,@staffname,GETDATE())
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Attandance_SELECT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_Tbl_Attandance_SELECT]
	
AS
BEGIN
	
	SELECT * FROM Tbl_Attandance
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Attandance_UPDATE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Attandance_UPDATE]
	
	@attandenceId AS INT,
	@grNo AS NVARCHAR(256),
	@fname AS NVARCHAR(256),
	@mname AS NVARCHAR(256),
	@lname AS NVARCHAR(256),
	@divName AS NVARCHAR(256),
	@className AS NVARCHAR(256),
	@semName AS NVARCHAR(256),
	@departName AS NVARCHAR(256),
	@status as nvarchar(256),
	@date AS nvarchar(500),
	@staffname as nvarchar(256)
AS
BEGIN
UPDATE Tbl_Attandance SET grNo=@grNo,fName=@fname,mName=@mname,lName=@lname,divName=@divName,className=@className,semName=@semName,departName=@departName,status=@status,date=@date,staffname=@staffname,editDate=GETDATE() WHERE attandenceId=@attandenceId
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Class_DELETE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Class_DELETE]
	@classId AS INT
AS
BEGIN
	
	DELETE FROM Tbl_Class WHERE classID=@classId
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Class_INSERT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_Tbl_Class_INSERT]
	@className AS NVARCHAR(256),
	@departName AS NVARCHAR(256)
AS
BEGIN
	
	INSERT INTO Tbl_Class values(@className, @departName, GETDATE())
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Class_SELECT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Class_SELECT]
	
AS
BEGIN
	
	SELECT * FROM Tbl_Class
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Class_UPDATE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Class_UPDATE]
	
	@classID AS INT,
	@className AS NVARCHAR(256),
	@departName AS NVARCHAR(256)
AS
BEGIN
	
UPDATE Tbl_Class SET @className=@className, editDate=GETDATE() WHERE classID=@classID
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Complaints_DELETE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_Tbl_Complaints_DELETE]
	
	@CID AS INT
AS
BEGIN
	
DELETE FROM Tbl_Complaints WHERE complainId=@CID
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Complaints_INSERT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_Tbl_Complaints_INSERT]
	
	@grno AS NVARCHAR(256),
	@name AS NVARCHAR(256),
	@subject AS Nvarchar(256),
	@message AS Nvarchar(256),
	@replay AS Nvarchar(256)
	
	
	
AS
BEGIN
	
	INSERT INTO Tbl_Complaints VALUES(@grno,@name,@subject,@message,@replay,GETDATE())
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Complaints_SELECT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_Tbl_Complaints_SELECT]
	
AS
BEGIN
	
	SELECT * FROM Tbl_Complaints
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Complaints_UPDATE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Complaints_UPDATE]
	
	@complainId AS INT,
	@grno AS NVARCHAR(256),
	@name AS NVARCHAR(256),
	@subject AS Nvarchar(256),
	@message AS Nvarchar(256),
	@replay AS Nvarchar(256)
	
	
AS
BEGIN
	
UPDATE Tbl_Complaints SET grNo=@grno,name=@name,subject=@subject,message=@message,reply=@replay,editDate=GETDATE() where complainId=@complainId 
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Depart_DELETE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Depart_DELETE]
	
	@dId AS INT
AS
BEGIN
	
DELETE FROM Tbl_Depart WHERE departId=@dId
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Depart_INSERT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Depart_INSERT]
	
	@departName AS NVARCHAR(256)
AS
BEGIN
	
	INSERT INTO Tbl_Depart VALUES(@departName,GETDATE())
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Depart_SELECT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Depart_SELECT]
	
AS
BEGIN
	
	SELECT * FROM Tbl_Depart
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Depart_UPDATE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Depart_UPDATE]
	
	@dId AS INT,
	@SNAME AS NVARCHAR(256)
AS
BEGIN
	
UPDATE Tbl_Depart SET departName=@SNAME, editDate=GETDATE() WHERE departId=@dId
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Div_DELETE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Div_DELETE]
	
	@dId AS INT
AS
BEGIN
	
DELETE FROM Tbl_Div WHERE divId=@dId
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Div_INSERT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Div_INSERT]
	
	
	@seat AS INT,
	@divName AS NVARCHAR(256),
	@semName AS NVARCHAR(256),
	@className AS NVARCHAR(256),
	@departName AS NVARCHAR(256)
	
AS
BEGIN
	
	INSERT INTO Tbl_Div VALUES(@seat,@divName,@semName,@className,@departName,GETDATE())
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Div_SELECT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Div_SELECT]
	
AS
BEGIN
	
	SELECT * FROM Tbl_Div
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Div_UPDATE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Div_UPDATE]
	
	@dId AS INT,
	@seat AS INT,
	@divName AS NVARCHAR(256),
	@semName AS NVARCHAR(256),
	@className AS NVARCHAR(256),
	@departName AS NVARCHAR(256)
AS
BEGIN
	
UPDATE Tbl_Div SET seats=@seat, divName=@divName, semName=@semName, classNAme=@className, departName=@departName, editDate=GETDATE() WHERE divId=@dId
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Feedback_DELETE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Feedback_DELETE]
	
@feedBackId AS  INT
AS
BEGIN
	
DELETE FROM Tbl_Feedback WHERE feedBackId=@feedBackId
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Feedback_INSERT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Feedback_INSERT]
	
	@EMAIL AS NVARCHAR(256),
	@MOB AS NVARCHAR(256),
	@FEED AS NVARCHAR(256)
AS
BEGIN
	
INSERT INTO Tbl_Feedback VALUES (@EMAIL,@MOB,@FEED,GETDATE())
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Feedback_SELECT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Feedback_SELECT]
	
AS
BEGIN
	
	SELECT * FROM Tbl_Feedback
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Leave_DELETE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Leave_DELETE]
	
	@lId AS INT
AS
BEGIN
	
DELETE FROM Tbl_Leave WHERE leaveId=@lId
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Leave_INSERT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Leave_INSERT]
	
	@grNo AS NVARCHAR(256),
	@name AS NVARCHAR(256),
	@div AS nvarchar(256),
	@classSemName AS nvarchar(256),
	@message AS nvarchar(256),	
	@nodays as int,
	@replay AS nvarchar(256)
AS
BEGIN
	
	INSERT INTO Tbl_Leave
           ([grNo]
           ,[name]
           ,[div]
           ,[classSemName]
           ,[message]
           ,[noDays]
           ,[reply]
           ,[editDate]) VALUES(@grNo,@name,@div,@classSemName,@message,@nodays,@replay,GETDATE())
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Leave_SELECT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_Tbl_Leave_SELECT]
	
AS
BEGIN
	
	SELECT * FROM Tbl_Leave
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Leave_UPDATE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_Tbl_Leave_UPDATE]
	
	@LID AS INT,
	@message as nvarchar(256),
	@noDays as int,
	@replay as nvarchar(256)
AS
BEGIN
	
UPDATE Tbl_Leave SET message=@message, noDays=@noDays, reply=@replay, editDate=GETDATE() WHERE leaveId=@LID
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Sem_DELETE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Sem_DELETE]
	
	@sId AS INT
AS
BEGIN
	
DELETE FROM Tbl_Sem WHERE semId=@sId
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Sem_INSERT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Sem_INSERT]
	
	@className AS NVARCHAR(256),
	@semName AS NVARCHAR(256),
	@departName AS NVARCHAR(256)
AS
BEGIN
	
	INSERT INTO Tbl_Sem VALUES(@semName, @className,@departName, GETDATE())
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Sem_SELECT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Sem_SELECT]
	
AS
BEGIN
	
	SELECT * FROM Tbl_Sem
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Sem_UPDATE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Sem_UPDATE]
	
	@sId AS INT,
	@semName AS NVARCHAR(256),
	@className AS NVARCHAR(256),
	@departName AS NVARCHAR(256)
AS
BEGIN
	
UPDATE Tbl_Sem SET semName=@semName, className=@className, departName=@departName, editDate=GETDATE() WHERE semId=@sId
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Staff_DELETE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_Tbl_Staff_DELETE]
	
	@sid AS INT
AS
BEGIN
	
DELETE FROM Tbl_Staff WHERE staffId=@sid
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Staff_INSERT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Staff_INSERT]
	
	@fname as nvarchar(256),
	@mname as nvarchar(256),
	@lname as nvarchar(256),
	@mobile as nvarchar(256),
	@email as nvarchar(256),
	@username as nvarchar(256),
	@password as nvarchar(256),
	@did as nvarchar(256),
	@dname as nvarchar(256)
AS
BEGIN
	
	INSERT INTO [dbo].[Tbl_Staff] ([firstName],[middleName],[lastName],[mobile] ,[email] ,[username] ,[password] ,[departId] ,[departName]) VALUES (@fname, @mname, @lname, @mobile, @email, @username, @password, @did, @dname)
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Staff_SELECT]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_Tbl_Staff_SELECT]
	
AS
BEGIN
	
	SELECT * FROM Tbl_Staff
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tbl_Staff_UPDATE]    Script Date: 05-12-2022 16:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tbl_Staff_UPDATE]
	
	@sid AS INT,
	@fname as nvarchar(256),
	@mname as nvarchar(256),
	@lname as nvarchar(256),
	@email as nvarchar(256),
	@mobile as nvarchar(256),
	@image as nvarchar(256),
	@pass as nvarchar(256)
	
	
AS
BEGIN
	
UPDATE Tbl_Staff SET firstName=@fname, middleName=@mname, lastName=@lname, mobile=@mobile, email=@email, password=@pass WHERE staffId=@sid
	
	
END
GO
USE [master]
GO
