:root {
    --primary: #0d6efd;
    --primaryLight: #0d6ec8;
    --light: #F0FBFC;
    --dark: #181d38;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    background: #f0f0f0;
}

header {
    display: none;
    overflow: hidden;
}

.holderMain{
    padding-left: 6.5rem;
}

.avatarIcon {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.nav .navlist {
    background: white;
    box-shadow: 0px 0px 4px lightgray;
    padding: 1rem;
    padding-top: 1.5rem;
    width: 6rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    z-index: 1;
    overflow: hidden;
    top: 0;
}

.navitem {
    list-style: none;
    font-size: 0.7rem;
    text-align: center;
    transition: all 200ms ease-in;
}

.card{
    border-radius: 1rem;
}

.card .card-header{
    border-radius: 1rem 1rem 0rem 0rem;
}

.card .card-header ul li{
    border-radius: 100px;
}

#ana {
    transition: all 200ms ease-in;
    text-decoration: none;
    font-size: 1rem;
}

#ana:hover {
    font-size: 1.2rem;
    transition: all 200ms ease-in;
}

#iconh {
    color: var(--primary);
    text-decoration: bold;
}

#iconh:hover {
    color: var(--primaryLight);
    transition: all 200ms ease-in;
}

ul li {
    list-style-type: none;
}

@media screen and (max-width: 990px) {
    body {
        overflow-x: hidden;
    }

    .holderMain {
        padding-left: 0rem;
        padding-bottom: 3rem;
    }
    header {
        display: flex;
        background-color: var(--light);
        padding: 0.2rem;
        align-items: center;
        justify-content: left;
        flex-direction: row;
    }

    .avatarIcon {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-color: var(--primary);
        margin: 0.5rem;
        margin-left: 1rem;
    }

    .nav .navlist {
        background: var(--light);
        width: 100%;
        height: 8%;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        z-index: 1;
        top: auto;
        bottom: 0;
        margin-bottom: -10px;
    }

    #umm {
        display: none;
        width: auto;
    }
}
